// //=============/=============/=============
//класс для удаления скролла при открытом меню
.stop-scroll {
	overflow: hidden;
}

.burger {
	margin-left: 20px;
	position: relative;
	display: block;
	width: 44px;
	height: 44px;
	box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 5px rgba(255, 255, 255, 0.25),
		4px 8px 8px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	cursor: pointer;

	&__line {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		width: 24px;
		height: 2px;
		background-color: var(--black-color);
		transition: all 0.3s linear;

		&--third {
			margin-top: 7px;

			@include tablet {
				margin-top: 5px;
			}
		}

		&--fourth {
			margin-top: -7px;

			@include tablet {
				margin-top: -5px;
			}
		}

		@include tablet {
			width: 16px;
			height: 2px;
		}
	}

	&--active {
		.burger__line {
			&--first {
				transform: rotate(45deg);
				left: 22%;
			}

			&--second {
				transform: rotate(-45deg);
				left: 22%;
			}

			&--third,
			&--fourth {
				opacity: 0;
			}
		}
	}

	@include tablet {
		width: 36px;
		height: 36px;
	}

	@include mobile {
		width: 30px;
		height: 30px;
	}
}

// //=============/=============/=============
.burger-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	display: none;

	@include tablet {
		display: block;
	}

	&__line {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 2px;
		background-color: var(--black-color);

		&--first {
			transform: rotate(45deg);
		}

		&--second {
			transform: rotate(-45deg);
		}
	}
}
