//=============/=============/=============
.header {
	margin: 10px;


	&__container {
		padding: 10px;
		@include flex-center-sb;
		box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 5px rgba(255, 255, 255, 0.25),
			8px 15px 15px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
		border-radius: 8px;
		background: var(--white-color);
	}
}

//=============/=============/=============
.logo {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--blue-color);
}

//=============/=============/=============
.search-form {
	position: relative;
	@include flex;
	background-color: #f5f5f5;
	width: 220px;
	padding: 10px;
	border-radius: 8px;

	&__input {
		width: 100%;
		background-color: #f5f5f5;
		color: var(--black-color);

		&::placeholder {
			font-family: "Poppins", sans-serif;
			color: var(--black-color);
		}
	}

	&__icon {
		cursor: pointer;
		color: var(--black-color);
	}
}

//=============/=============/=============
.menu-header {
	padding: 0 15px;
	&__list {
		@include flex-center-sb;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__link {
		color: 	var(--black-color);
		font-size: 16px;
	}

	&__icon {
		svg {
			width: 20px;
			height: 20px;
			fill: #505050;
		}
	}
}

//=============/=============/=============
.nav {
	position: fixed;
	z-index: 100;
	left: 50%;
	transform: translateX(-50%);
	top: -100vh;
	width: 100%;
	max-width: 1170px;
	box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 5px rgba(255, 255, 255, 0.25),
		8px 15px 15px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	background-color: var(--white-color);
	transition: top 0.5s linear;

	&__list {
		width: 250px;
		position: relative;
	}

	&__item:hover .nav__link {
		background-color: orange;
	}

	&__list-drop {
		display: none;
	}

	&__link {
		display: inline-block;
		padding: 10px 10px 10px 25px;
		color: var(--black-color);
		font-size: 16px;
		@include flex-center-sb;
		transition: background-color 0.3s linear;

		&:hover {
			.nav__link-icon::before {
				transform: rotate(-45deg);
			}

			.nav__link-icon::after {
				transform: rotate(45deg);
			}
		}
	}

	&__link-icon {
		position: relative;
		width: 13.5px;
		height: 10px;
		background-color: transparent;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			width: 8px;
			height: 1px;
			background-color: var(--black-color);
			transform: translateY(-50%) rotate(45deg);
			transition: transform 0.3s linear;
		}

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			width: 8px;
			height: 1px;
			background-color: var(--black-color);
			transform: translateY(-50%) rotate(-45deg);
			transition: transform 0.3s linear;
		}
	}

	&--active {
		top: 90px;
	}
}
