//=============/=============/=============
.slider {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 600px;
	box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 5px rgba(255, 255, 255, 0.25),
		8px 15px 15px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	background-color: var(--white-color);

	&__wrapper {
		display: flex;
		width: 100%;
		height: 100%;
	}

	&__slide {
		padding: 10px;
		flex-shrink: 0;
	}

	&__image {
		img {
			border-radius: 8px;
			width: 100%;
			height: 100%;
		}
	}

	&__btn {
		position: absolute;
		z-index: 2;
		top: 50%;
		width: 40px;
		height: 48px;
		background-color: var(--bg-color);
		@include flex-all-center;
		font-size: 24px;
		transform: translateY(-50%);
		box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 5px rgba(255, 255, 255, 0.25),
			8px 15px 15px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
		border-radius: 8px;

		@include tablet {
			width: 34px;
			height: 42px;
		}

		@include mobile {
			width: 30px;
			height: 38px;
		}

		&-icon {
			@include flex-all-center;
		}

		&-prev {
			left: 20px;

			@include mobile {
				left: 15px;
			}
		}

		&-next {
			right: 20px;

			@include mobile {
				right: 15px;
			}
		}
	}
}

//=============/=============/=============
.slider-popular {
	overflow: hidden;
	width: 100%;
	padding: 10px;

	@include flex-center-sb;
	box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 5px rgba(255, 255, 255, 0.25),
		8px 15px 15px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	background: var(--white-color);

	&__wrapper {
		display: flex;
		width: 100%;
		height: 100%;
	}

	&__slide {
		flex-shrink: 0;
	}
}